/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gutenberg-faq-schema {
	--block-gutenberg-faq-schema-red: rgb(146, 0, 0);
	padding: 2px;
	.textarea-faq {
		textarea {
			border-radius: 5px 5px 0 5px;
		}
	}
	.btn-remove {
		border: 1px solid var(--block-gutenberg-faq-schema-red);
		color: var(--block-gutenberg-faq-schema-red);
		background-color: #fff;
		&:hover,
		&:focus {
			background-color: var(--block-gutenberg-faq-schema-red);
			color: #fff;
		}
	}
	&:not(.block-editor-block-list__block) { // front-end only styling, not editor. JDS TODO: Try moving the editor styles over to the editor.scss
		dl, dt, dd {
			margin-block-start: 0;
			margin-block-end: 0;
			margin-inline-start: 0;
			margin-inline-end: 0;
		}
		dl {
			> * > p {
				font-size: 0.875rem;
			}
			dt {
				padding: 0.5rem;
				border-top: 1px solid #ddd;
				&:last-child {
					border-top: none;
				}
				+ dd {
					padding: 0.5rem 0 0.5rem 1.5rem;
					border-bottom: 1px solid #ddd;
				}
				&:first-child + dd {
					border-bottom: none;
				}
			}
		}
	}
}
